#banner{
	width: 100%;
	height: 100vh;
	background: #e1e1e1;
	background-image: url(../img/home/banner.jpg);
	background-attachment: fixed;
	text-decoration: none;
	padding-top: 150px;
	background-size: cover;

	h1{
		font-family: Poppins;
		font-weight: bold;
		font-size: 30px;
		line-height: 50px;
		text-align: left;
		color: #fff;
	}
	span{
		width: 50px;
		height: 5px;
		background: #fff;
		opacity: 0.5;
		display: block;
		margin-top: $sp40;
	}
	p{
		font-family: Poppins;
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		text-align: left;
		color: #fff;
		margin-top: $sp20;

	}
	.bt-transparat{
		width: 160px;
		height: 45px;
		border-radius: 3px;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.25);
		color: $white;
		margin-top: $sp60;
		i{
			color: $white;
			display: inline-block;
			padding-left: 10px;
		}
		&:hover{
			cursor: pointer;
			i{
				padding-left: 20px;
			}
		}
	}
}

