.padd-each{
    padding: 100px 0px;
}

#abt-home{
    background: $white;
    p{
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        text-align: left;
        color: #6d819c;

    }
    .bx-abt{
        background-position: top left;
        background-image: url(../img/home/logo-transp.svg);
        background-repeat: no-repeat;
        h2{
            font-weight: 600;
            font-size: 30px;
            line-height: 50px;
            text-align: left;
            color: #465871;
            padding-left: 70px;
        }
        
    }
    a{
        display: inline-block;
        height: 45px;
        width: auto;
        padding: 0px 15px;
        border-radius: 3px;
		background: transparent;
        border: 1px solid rgba(109, 129, 156, 0.19);
        line-height: 45px;
        margin-top: 20px;
        color: #465871;
        margin-right: 5px;
        i{
            display: inline-block;
            padding-left: 10px;
        }
        &:hover{
            i{
                padding-left: 20px;
                color: #F9634C;
            }
        }
    }
    .red-outline{
        border: 1px solid #F9634C!important;
        color: #F9634C!important;
        i{
            color: #F9634C!important;
        }
    }
}

// serv-home
#serv-home{
    background: #ECF0F9;
    h3{
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        text-align: left;
        color: #6d819c;
    }
    p{
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        text-align: left;
        color: #6d819c;
    }
    a{
        display: inline-block;
        height: 45px;
        width: auto;
        padding: 0px 25px;
        border-radius: 3px;
		background: transparent;
        border: 1px solid rgba(109, 129, 156, 0.19);
        line-height: 45px;
        margin-top: 20px;
        color: #465871;
        margin-right: 5px;
        i{
            display: inline-block;
            padding-left: 10px;
        }
        &:hover{
            i{
                padding-left: 20px;
                color: #F9634C;
            }
        }
    }
    .s-box{
        width: 90%;
        height: 150px;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.04);
        margin-bottom: 10px;
        float: right;
        padding: 15px;
        a{
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            text-align: left;
            height: auto!important;
            margin: 0px!important;
            color: #465871;
            border:none!important;
            padding: 0px!important;
            i{
                display: inline-block;
                padding-left: 20px;
            }
            &:hover{
                i{
                    padding-left: 25px;
                }
            }
        }
        h2{
            font-weight: 600;
            font-size: 16px!important;
            text-align: left;
            color: #465871;
            margin: 0px;
            margin-top: 20px;
        }
        .img-s-box{
            width: 140px;
            float: left;
            height: 140px;
            margin-right: 15px;
        }
        .imh-c-box{
            width: calc(100% - 155px);
            float: left;
            
            h2{
                font-weight: 600;
                font-size: 20px!important;
                text-align: left;
                color: #465871;
            }
            p{
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                text-align: left;
                color: #465871;
               margin-top: 10px;
            }
           
        }

    }
}

// pro-home
#pro-home{
    height: auto;
    .red-bx{
        background: #F95251;
        height: 440px;
        .content-bx{
            padding: 30px;
            h2{
                font-family: Poppins;
                font-weight: 600;
                font-size: 25px;
                line-height: 50px;
                text-align: left;
                color: #fff;
            }
            p{
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                text-align: left;
                color: #fff;
                opacity: 0.76;
            }
            a{
                display: inline-block;
                height: 45px;
                width: auto;
                padding: 0px 15px;
                border-radius: 3px;
                background: transparent;
                border: 1px solid rgba(255, 255, 255, 0.19);
                line-height: 45px;
                margin-top: 20px;
                color: #fff;
                margin-right: 5px;
                i{
                    display: inline-block;
                    padding-left: 10px;
                }
                &:hover{
                    i{
                        padding-left: 20px;
                        color: #fff;
                    }
                }
            }
        }
        

    }
}