
.normal_bt{
	width: 128px;
	height: 45px;
	border-radius: 3px;
	background: linear-gradient(#fa6849 0%, #f84656 100%);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border:none;
	line-height: 45px;
	&:hover{
		cursor: pointer;
	}
}

// Mobile button
.mobile-menu{
	display: none;
	color: $white;
	font-size: $font30;
	float: right;
	i{
		float: right;
	}
}



