#contact{
    .contact-form{
        width: calc(100% - 500px);
        float: left;
        height: 100vh;
        padding-left: 10%;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        h2{
            font-weight: 600;
            font-size: 30px;
            line-height: 50px;
            text-align: left;
            color: #465871;
        }
        p{
            font-weight: 600;
            font-size: 16px;
            text-align: left;
            color: #465871;
            opacity: 0.5;
        }
        .input-field label{
            color: #465871!important;
        }
        .select-wrapper input.select-dropdown{
            color: #465871!important;
        }
        .dropdown-content li>a, .dropdown-content li>span{
            color: #465871!important;
        }
        button{
            display: inline-block;
            height: 45px;
            width: auto;
            padding: 0px 15px;
            border-radius: 3px;
            background: transparent;
            border: 1px solid rgba(109, 129, 156, 0.19);
            line-height: 45px;
            margin-top: 20px;
            color: #465871;
            margin-right: 5px;
            width: 120px;
            i{
                display: inline-block;
                padding-left: 10px;
            }
            &:hover{
                i{
                    padding-left: 20px;
                    color: #F9634C;
                }
            }
        }
        .red-outline{
            border: 1px solid #F9634C!important;
            color: #F9634C!important;
            i{
                color: #F9634C!important;
            }
        }

    }
    .contact-banner{
        width: 500px;
        height: 768px;
        background: #e1e1e1;
        float: left;
        position: relative;
        img{
            width: 100%;
            height: 768px;
            object-fit: cover;
        }
        .contact-detail{
            padding: 70px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            a{
                display: block;
                float: right;
                width: 100%;
                img{
                    width: 53.31px;
                    height: 30.16px;
                    float: right;
                    display: block;
                }
            }
            h2{
                font-weight: 600;
                font-size: 30px;
                line-height: 50px;
                text-align: left;
                color: #fff;
                display: block;
                padding-top: 150px;
            }
            h4{
                font-weight: 400;
                font-size: 14px;
                text-align: left;
                color: #fff;
                line-height: 25px;
            }
            ul{
                display: block;
                padding-top:40px;
                li{
                    display: block;
                    color: #fff;
                    font-weight: 300;
                    i{
                        display: inline-block;
                        width: 20px;
                    }
                }
            }

        }
    }
}




@media #{$small-and-down} {
   
}

@media #{$medium-and-down} {
    #contact .contact-form{
        width: 100%;
    }
    #contact .contact-banner img{
        height: 500px;
    }
    #contact .contact-banner{
        width: 100%;
        height: auto;
    }
    #contact .contact-banner .contact-detail h2{
        padding-top: 60px;
    }
}