//primary Color
$defult:#f9f9f9;
$white:#fff;

// space
$sp20:10px;
$sp20:20px;
$sp30:30px;
$sp40:40px;
$sp50:50px;
$sp60:60px;
$sp70:70px;
$sp80:80px;
$sp90:90px;
$sp100:100px;

// font
$font10:10px;
$font20:20px;
$font30:30px;
$font40:40px;
$font50:50px;