/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/layout/_main.scss */
div, i, a, button, span, li {
  transition: all 0.2s ease;
}

/* line 5, ../sass/layout/_main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
}

/* line 8, ../sass/layout/_main.scss */
.input-field {
  margin-top: 5px !important;
}

/* line 13, ../sass/layout/_main.scss */
.banner-form input:not([type]).validate + label, .banner-form input[type=text]:not(.browser-default).validate + label, .banner-form input[type=password]:not(.browser-default).validate + label, .banner-form input[type=email]:not(.browser-default).validate + label, .banner-form input[type=url]:not(.browser-default).validate + label, .banner-form input[type=time]:not(.browser-default).validate + label, .banner-form input[type=date]:not(.browser-default).validate + label, .banner-form input[type=datetime]:not(.browser-default).validate + label, .banner-form input[type=datetime-local]:not(.browser-default).validate + label, .banner-form input[type=tel]:not(.browser-default).validate + label, .banner-form input[type=number]:not(.browser-default).validate + label, .banner-form input[type=search]:not(.browser-default).validate + label, .banner-form textarea.materialize-textarea.validate + label {
  font-size: 13px !important;
}

/* line 18, ../sass/layout/_main.scss */
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid rgba(112, 112, 112, 0.2) !important;
  margin: 0 0 10px 0 !important;
}

/* line 22, ../sass/layout/_main.scss */
.padding15 {
  padding: 15px;
}

/* line 26, ../sass/layout/_main.scss */
.margin-top {
  margin-top: 50px !important;
}

/* line 29, ../sass/layout/_main.scss */
.row {
  margin-bottom: 0px !important;
}

/* line 33, ../sass/layout/_main.scss */
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
  box-shadow: 0 1px 0 0 #F44336 !important;
  border-bottom: 1px solid #F44336 !important;
}

/* line 40, ../sass/layout/_main.scss */
.inner-head {
  position: static !important;
  background-color: #fff;
  padding-top: 30px !important;
}
/* line 46, ../sass/layout/_main.scss */
.inner-head .navigation_main li a {
  color: #091c35;
}
/* line 48, ../sass/layout/_main.scss */
.inner-head .navigation_main li a:hover {
  color: rgba(109, 129, 156, 0.19);
}

/* line 57, ../sass/layout/_main.scss */
.border-both {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

/* line 62, ../sass/layout/_main.scss */
.border-bottom {
  border-bottom: 1px solid #f1f1f1;
}

/* line 65, ../sass/layout/_main.scss */
.border-top {
  border-top: 1px solid #f1f1f1;
}

/* line 1, ../sass/layout/_banners.scss */
#banner {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background: #e1e1e1;
  background-image: url(../img/home/banner.jpg);
  background-attachment: fixed;
  text-decoration: none;
  padding-top: 150px;
  background-size: cover;
}
/* line 12, ../sass/layout/_banners.scss */
#banner h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #fff;
}
/* line 20, ../sass/layout/_banners.scss */
#banner span {
  width: 50px;
  height: 5px;
  background: #fff;
  opacity: 0.5;
  display: block;
  margin-top: 40px;
}
/* line 28, ../sass/layout/_banners.scss */
#banner p {
  font-family: Poppins;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}
/* line 38, ../sass/layout/_banners.scss */
#banner .bt-transparat {
  width: 160px;
  height: 45px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  margin-top: 60px;
}
/* line 46, ../sass/layout/_banners.scss */
#banner .bt-transparat a {
  color: #fff;
}
/* line 49, ../sass/layout/_banners.scss */
#banner .bt-transparat i {
  color: #fff;
  display: inline-block;
  padding-left: 10px;
}
/* line 54, ../sass/layout/_banners.scss */
#banner .bt-transparat:hover {
  cursor: pointer;
}
/* line 56, ../sass/layout/_banners.scss */
#banner .bt-transparat:hover i {
  padding-left: 20px;
  color: #BFE2FF;
}
/* line 62, ../sass/layout/_banners.scss */
#banner .banner-form {
  max-width: 459px;
  min-height: 500px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 25px;
  float: right;
}
/* line 70, ../sass/layout/_banners.scss */
#banner .banner-form .f-left {
  float: left;
  width: calc(100% - 44px);
}
/* line 73, ../sass/layout/_banners.scss */
#banner .banner-form .f-left h2 {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #465871;
  margin: 0;
}
/* line 80, ../sass/layout/_banners.scss */
#banner .banner-form .f-left p {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: #6d819c;
  line-height: 20px;
  margin-top: 10px;
}
/* line 89, ../sass/layout/_banners.scss */
#banner .banner-form .f-icon {
  width: 43.35px;
  height: 54.22px;
  background: transparent;
}
/* line 93, ../sass/layout/_banners.scss */
#banner .banner-form .f-icon img {
  height: 54px;
}
/* line 98, ../sass/layout/_banners.scss */
#banner .banner-form .f-row {
  margin-top: 20px;
  float: left;
  width: 100%;
}
/* line 103, ../sass/layout/_banners.scss */
#banner .banner-form button {
  margin-top: 10px;
}

/* line 2, ../sass/layout/_buttons.scss */
.normal_bt {
  width: 128px;
  height: 45px;
  border-radius: 3px;
  background: linear-gradient(-60deg, #fa6849 0%, #f84656 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border: none;
  line-height: 45px;
}
/* line 14, ../sass/layout/_buttons.scss */
.normal_bt a {
  color: #fff;
  display: block;
  width: 100%;
  height: 45px;
}
/* line 20, ../sass/layout/_buttons.scss */
.normal_bt i {
  display: inline-block;
  padding-left: 5px;
}
/* line 25, ../sass/layout/_buttons.scss */
.normal_bt:hover i {
  padding-left: 15px;
}

/* line 32, ../sass/layout/_buttons.scss */
.mobile-menu {
  display: none;
  color: #fff;
  font-size: 30px;
  float: right;
}
/* line 37, ../sass/layout/_buttons.scss */
.mobile-menu i {
  float: right;
}

@media only screen and (max-width: 600px) {
  /* line 6, ../sass/layout/_footer.scss */
  footer .copy span {
    padding-bottom: 10px;
  }
}
/* line 1, ../sass/layout/_spacing.scss */
.mg-top-50 {
  margin-top: 50px;
}

/* line 1, ../sass/layout/_header.scss */
header {
  position: absolute;
  z-index: 8;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  padding-top: 55px;
}
/* line 9, ../sass/layout/_header.scss */
header .logo {
  display: block;
}
/* line 11, ../sass/layout/_header.scss */
header .logo img {
  width: 180px;
  height: auto;
}
/* line 16, ../sass/layout/_header.scss */
header .bt {
  display: inline-block;
  float: right;
}
/* line 20, ../sass/layout/_header.scss */
header .navigation_main {
  float: left;
  width: calc(100% - 128px);
  text-align: right;
}
/* line 24, ../sass/layout/_header.scss */
header .navigation_main li {
  display: inline-block;
  padding-right: 15px;
}
/* line 27, ../sass/layout/_header.scss */
header .navigation_main li a {
  font-family: Poppins;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
  padding: 0px 8px;
  line-height: 45px;
}
/* line 34, ../sass/layout/_header.scss */
header .navigation_main li a:hover {
  color: #fff;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  /* line 46, ../sass/layout/_header.scss */
  .inner-head {
    padding-top: 20px !important;
    padding-bottom: 20px;
  }
  /* line 49, ../sass/layout/_header.scss */
  .inner-head .mobile-menu {
    color: #455872;
  }
}
@media only screen and (min-width: 601px) {
  /* line 56, ../sass/layout/_header.scss */
  .inner-head {
    padding-top: 20px !important;
    padding-bottom: 20px;
  }
  /* line 59, ../sass/layout/_header.scss */
  .inner-head .mobile-menu {
    color: #455872;
  }
}
/* line 1, ../sass/layout/_blocks.scss */
.padd-each {
  padding: 100px 0px;
}

/* line 5, ../sass/layout/_blocks.scss */
#abt-home {
  background: #fff;
}
/* line 7, ../sass/layout/_blocks.scss */
#abt-home p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #6d819c;
}
/* line 14, ../sass/layout/_blocks.scss */
#abt-home .bx-abt {
  background-position: top left;
  background-image: url(../img/home/logo-transp.svg);
  background-repeat: no-repeat;
}
/* line 18, ../sass/layout/_blocks.scss */
#abt-home .bx-abt h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
  padding-left: 70px;
}
/* line 28, ../sass/layout/_blocks.scss */
#abt-home a {
  display: inline-block;
  height: 45px;
  width: auto;
  padding: 0px 15px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(109, 129, 156, 0.19);
  line-height: 45px;
  margin-top: 20px;
  color: #465871;
  margin-right: 5px;
}
/* line 40, ../sass/layout/_blocks.scss */
#abt-home a i {
  display: inline-block;
  padding-left: 10px;
}
/* line 45, ../sass/layout/_blocks.scss */
#abt-home a:hover i {
  padding-left: 20px;
  color: #F9634C;
}
/* line 51, ../sass/layout/_blocks.scss */
#abt-home .red-outline {
  border: 1px solid #F9634C !important;
  color: #F9634C !important;
}
/* line 54, ../sass/layout/_blocks.scss */
#abt-home .red-outline i {
  color: #F9634C !important;
}

/* line 61, ../sass/layout/_blocks.scss */
#serv-home {
  background: #ECF0F9;
}
/* line 63, ../sass/layout/_blocks.scss */
#serv-home h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #6d819c;
}
/* line 70, ../sass/layout/_blocks.scss */
#serv-home p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #6d819c;
}
/* line 77, ../sass/layout/_blocks.scss */
#serv-home a {
  display: inline-block;
  height: 45px;
  width: auto;
  padding: 0px 25px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(109, 129, 156, 0.19);
  line-height: 45px;
  margin-top: 20px;
  color: #465871;
  margin-right: 5px;
}
/* line 89, ../sass/layout/_blocks.scss */
#serv-home a i {
  display: inline-block;
  padding-left: 10px;
}
/* line 94, ../sass/layout/_blocks.scss */
#serv-home a:hover i {
  padding-left: 20px;
  color: #F9634C;
}
/* line 100, ../sass/layout/_blocks.scss */
#serv-home .s-box {
  width: 90%;
  height: 150px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.04);
  margin-bottom: 10px;
  float: right;
  padding: 15px;
}
/* line 109, ../sass/layout/_blocks.scss */
#serv-home .s-box a {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  height: auto !important;
  margin: 0px !important;
  color: #465871;
  border: none !important;
  padding: 0px !important;
}
/* line 119, ../sass/layout/_blocks.scss */
#serv-home .s-box a i {
  display: inline-block;
  padding-left: 20px;
}
/* line 124, ../sass/layout/_blocks.scss */
#serv-home .s-box a:hover i {
  padding-left: 25px;
}
/* line 129, ../sass/layout/_blocks.scss */
#serv-home .s-box h2 {
  font-weight: 600;
  font-size: 16px !important;
  text-align: left;
  color: #465871;
  margin: 0px;
  margin-top: 20px;
}
/* line 137, ../sass/layout/_blocks.scss */
#serv-home .s-box .img-s-box {
  width: 140px;
  float: left;
  height: 140px;
  margin-right: 15px;
}
/* line 143, ../sass/layout/_blocks.scss */
#serv-home .s-box .imh-c-box {
  width: calc(100% - 155px);
  float: left;
}
/* line 147, ../sass/layout/_blocks.scss */
#serv-home .s-box .imh-c-box h2 {
  font-weight: 600;
  font-size: 20px !important;
  text-align: left;
  color: #465871;
}
/* line 153, ../sass/layout/_blocks.scss */
#serv-home .s-box .imh-c-box p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #465871;
  margin-top: 10px;
}

/* line 168, ../sass/layout/_blocks.scss */
#pro-home {
  height: auto;
}
/* line 170, ../sass/layout/_blocks.scss */
#pro-home .l6 {
  height: 440px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 176, ../sass/layout/_blocks.scss */
#pro-home .red-bx {
  background: #F95251;
}
/* line 178, ../sass/layout/_blocks.scss */
#pro-home .red-bx .content-bx {
  padding: 30px;
}
/* line 180, ../sass/layout/_blocks.scss */
#pro-home .red-bx .content-bx h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  text-align: left;
  color: #fff;
}
/* line 188, ../sass/layout/_blocks.scss */
#pro-home .red-bx .content-bx p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  opacity: 0.76;
}
/* line 196, ../sass/layout/_blocks.scss */
#pro-home .red-bx .content-bx a {
  display: inline-block;
  height: 45px;
  width: auto;
  padding: 0px 15px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.19);
  line-height: 45px;
  margin-top: 20px;
  color: #fff;
  margin-right: 5px;
}
/* line 208, ../sass/layout/_blocks.scss */
#pro-home .red-bx .content-bx a i {
  display: inline-block;
  padding-left: 10px;
}
/* line 213, ../sass/layout/_blocks.scss */
#pro-home .red-bx .content-bx a:hover i {
  padding-left: 20px;
  color: #fff;
}
/* line 222, ../sass/layout/_blocks.scss */
#pro-home .work-box {
  width: 100%;
  height: auto;
  position: relative;
}
/* line 226, ../sass/layout/_blocks.scss */
#pro-home .work-box img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
/* line 231, ../sass/layout/_blocks.scss */
#pro-home .work-box .title-work {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
}
/* line 236, ../sass/layout/_blocks.scss */
#pro-home .work-box .title-work h3 {
  color: #fff;
  background: #465871;
  padding: 5px 15px;
  font-size: 25px;
  font-weight: 600;
  width: 70%;
  float: left;
}
/* line 247, ../sass/layout/_blocks.scss */
#pro-home .work-box:hover .title-work {
  background: rgba(70, 88, 113, 0.64);
  cursor: pointer;
}

/* line 256, ../sass/layout/_blocks.scss */
#testimonials {
  background: #fff;
}
/* line 258, ../sass/layout/_blocks.scss */
#testimonials h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
}
/* line 265, ../sass/layout/_blocks.scss */
#testimonials p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #465871;
  margin-top: 10px;
}
/* line 273, ../sass/layout/_blocks.scss */
#testimonials a {
  display: inline-block;
  height: 45px;
  width: auto;
  padding: 0px 15px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid #F9634C !important;
  line-height: 45px;
  margin-top: 20px;
  color: #F95251;
  margin-right: 5px;
  float: right;
}
/* line 286, ../sass/layout/_blocks.scss */
#testimonials a i {
  display: inline-block;
  padding-left: 10px;
  color: #F9634C;
}
/* line 292, ../sass/layout/_blocks.scss */
#testimonials a:hover i {
  padding-left: 20px;
  color: #F9634C;
}
/* line 298, ../sass/layout/_blocks.scss */
#testimonials .testi-box {
  width: 100%;
  height: 500px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
  padding: 25px;
}
/* line 306, ../sass/layout/_blocks.scss */
#testimonials .testi-box .img-testi {
  width: 100%;
  height: 67px;
}
/* line 309, ../sass/layout/_blocks.scss */
#testimonials .testi-box .img-testi i {
  display: block;
  width: 67px;
  height: 67px;
  border-radius: 160px;
  overflow: hidden;
}
/* line 315, ../sass/layout/_blocks.scss */
#testimonials .testi-box .img-testi i img {
  width: 100%;
  height: 67px;
  object-fit: cover;
}
/* line 322, ../sass/layout/_blocks.scss */
#testimonials .testi-box .cont-testi {
  height: calc(100% - 130px);
  margin-top: 10px;
}
/* line 325, ../sass/layout/_blocks.scss */
#testimonials .testi-box .cont-testi h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #465871;
}
/* line 331, ../sass/layout/_blocks.scss */
#testimonials .testi-box .cont-testi span {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #6d819c;
  opacity: 0.5;
}
/* line 339, ../sass/layout/_blocks.scss */
#testimonials .testi-box .cont-testi p {
  height: 242px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #6d819c;
  overflow: hidden;
}
/* line 351, ../sass/layout/_blocks.scss */
#testimonials .testi-box .bt-testi a {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  height: auto !important;
  margin: 0px !important;
  color: #465871;
  border: none !important;
  padding: 0px !important;
  float: left !important;
}
/* line 362, ../sass/layout/_blocks.scss */
#testimonials .testi-box .bt-testi a i {
  display: inline-block;
  padding-left: 20px;
}
/* line 367, ../sass/layout/_blocks.scss */
#testimonials .testi-box .bt-testi a:hover i {
  padding-left: 25px;
}

/* line 378, ../sass/layout/_blocks.scss */
#home-blog {
  background: #ECF0F9;
}
/* line 380, ../sass/layout/_blocks.scss */
#home-blog .blue-box {
  width: 100%;
  height: 504px;
  border-radius: 3px;
  background: #465871;
  padding: 25px;
  margin-bottom: 20px;
}
/* line 387, ../sass/layout/_blocks.scss */
#home-blog .blue-box h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #fff;
}
/* line 394, ../sass/layout/_blocks.scss */
#home-blog .blue-box p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  opacity: 0.6;
}
/* line 402, ../sass/layout/_blocks.scss */
#home-blog .blue-box a {
  display: inline-block;
  height: 45px;
  width: auto;
  padding: 0px 15px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.19);
  line-height: 45px;
  margin-top: 40px;
  color: #fff;
  margin-right: 5px;
}
/* line 414, ../sass/layout/_blocks.scss */
#home-blog .blue-box a i {
  display: inline-block;
  padding-left: 10px;
}
/* line 419, ../sass/layout/_blocks.scss */
#home-blog .blue-box a:hover i {
  padding-left: 20px;
  color: #fff;
}
/* line 426, ../sass/layout/_blocks.scss */
#home-blog .blog-box {
  width: 100%;
  height: 504px;
  border-radius: 3px;
  background: #465871;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 434, ../sass/layout/_blocks.scss */
#home-blog .blog-box img {
  width: 100%;
  height: 504px;
  object-fit: cover;
}
/* line 439, ../sass/layout/_blocks.scss */
#home-blog .blog-box .b-title {
  width: 100%;
  height: 504px;
  border-radius: 3px;
  background: linear-gradient(rgba(70, 88, 113, 0) 0%, #232c39 100%);
  position: absolute;
  padding: 25px;
  overflow: hidden;
}
/* line 448, ../sass/layout/_blocks.scss */
#home-blog .blog-box .b-title h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #fff;
  margin: 0;
  margin-top: 120%;
  display: block;
}
/* line 457, ../sass/layout/_blocks.scss */
#home-blog .blog-box .b-title span {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #fff;
  opacity: 0.5;
}

/* line 469, ../sass/layout/_blocks.scss */
footer {
  background: #fff;
  width: 100%;
  height: auto;
}
/* line 474, ../sass/layout/_blocks.scss */
footer .first-sec h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
}
/* line 481, ../sass/layout/_blocks.scss */
footer .first-sec p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #6d819c;
}
/* line 487, ../sass/layout/_blocks.scss */
footer .first-sec p strong {
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
}
/* line 493, ../sass/layout/_blocks.scss */
footer .first-sec button {
  margin-top: 30px;
}
/* line 496, ../sass/layout/_blocks.scss */
footer .first-sec .right-align-tx {
  text-align: right;
}
/* line 498, ../sass/layout/_blocks.scss */
footer .first-sec .right-align-tx h2, footer .first-sec .right-align-tx p {
  text-align: right;
}
/* line 503, ../sass/layout/_blocks.scss */
footer .footer-sec {
  background: #465871;
  padding-top: 40px;
}
/* line 506, ../sass/layout/_blocks.scss */
footer .footer-sec h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #fff;
}
/* line 516, ../sass/layout/_blocks.scss */
footer .footer-sec ul li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #b0c1d8;
}
/* line 527, ../sass/layout/_blocks.scss */
footer .copy {
  border-top: 1px solid rgba(241, 241, 241, 0.13);
  margin-top: 20px;
  padding: 10px 0px;
  float: left;
  width: 100%;
}
/* line 533, ../sass/layout/_blocks.scss */
footer .copy span {
  display: block;
  color: #fff;
  font-size: 14px;
  float: left;
}
/* line 539, ../sass/layout/_blocks.scss */
footer .copy ul {
  float: right;
}
/* line 541, ../sass/layout/_blocks.scss */
footer .copy ul li {
  display: inline-block;
}
/* line 543, ../sass/layout/_blocks.scss */
footer .copy ul li a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 160px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #2f3d50;
}
/* line 552, ../sass/layout/_blocks.scss */
footer .copy ul li a i {
  color: #fff;
}

/* line 2, ../sass/layout/_blog.scss */
.white-box {
  width: 100%;
  height: 504px;
  border-radius: 3px;
  background: #fff;
  padding: 25px;
  margin-bottom: 20px;
}
/* line 9, ../sass/layout/_blog.scss */
.white-box h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
  border-bottom: 5px solid #465871;
  width: 150px;
}
/* line 19, ../sass/layout/_blog.scss */
.white-box ul li {
  width: auto;
  height: 45px;
  border-radius: 22.5px;
  background: #fff;
  border: 1px solid #f1f1f1;
  line-height: 45px;
  display: inline-block;
  padding: 0px 20px;
  margin: 5px;
  font-size: 16px;
  color: #465871;
}

/* line 38, ../sass/layout/_blog.scss */
#blog-detail {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 50px 0px;
}
/* line 42, ../sass/layout/_blog.scss */
#blog-detail h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
}
/* line 50, ../sass/layout/_blog.scss */
#blog-detail span {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #465871;
  opacity: 0.5;
}
/* line 58, ../sass/layout/_blog.scss */
#blog-detail .img-blog-box {
  width: 100%;
  height: 650px;
  margin-top: 30px;
}
/* line 62, ../sass/layout/_blog.scss */
#blog-detail .img-blog-box img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
/* line 68, ../sass/layout/_blog.scss */
#blog-detail p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #465871;
  margin-bottom: 20px;
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {
  /* line 2, ../sass/layout/_responsive.scss */
  #abt-home a {
    width: 100%;
    text-align: center;
  }

  /* line 7, ../sass/layout/_responsive.scss */
  #serv-home .s-box {
    height: auto;
  }
  /* line 9, ../sass/layout/_responsive.scss */
  #serv-home .s-box .img-s-box {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
  }
  /* line 14, ../sass/layout/_responsive.scss */
  #serv-home .s-box .img-s-box img {
    margin: 0px auto;
  }
  /* line 18, ../sass/layout/_responsive.scss */
  #serv-home .s-box .imh-c-box {
    width: 100%;
    text-align: center;
  }

  /* line 24, ../sass/layout/_responsive.scss */
  #home-blog .blog-box .b-title h3 {
    margin-top: 120% !important;
  }

  /* line 27, ../sass/layout/_responsive.scss */
  #home-blog .blue-box {
    height: auto;
  }

  /* line 31, ../sass/layout/_responsive.scss */
  .copy span {
    width: 100%;
    text-align: center;
  }
  /* line 35, ../sass/layout/_responsive.scss */
  .copy ul {
    float: none !important;
    text-align: center;
    margin: 0px auto;
    width: 200px;
    margin-top: 20px !important;
  }
}
@media only screen and (max-width: 992px) {
  /* line 50, ../sass/layout/_responsive.scss */
  .mobile-menu {
    display: block;
    color: #fff;
  }

  /* line 54, ../sass/layout/_responsive.scss */
  .navigation_main {
    display: none;
  }

  /* line 57, ../sass/layout/_responsive.scss */
  header {
    margin-top: 0px;
    padding-top: 20px;
    height: auto;
    background: rgba(26, 60, 80, 0.57);
  }

  /* line 63, ../sass/layout/_responsive.scss */
  #banner {
    height: auto;
    padding-bottom: 30px;
    padding-top: 80px;
  }
  /* line 67, ../sass/layout/_responsive.scss */
  #banner .banner-form {
    margin-top: 20px;
  }

  /* line 71, ../sass/layout/_responsive.scss */
  .padd-each {
    padding: 20px 0px !important;
  }

  /* line 75, ../sass/layout/_responsive.scss */
  #serv-home .s-box {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  /* line 81, ../sass/layout/_responsive.scss */
  #home-blog .blog-box .b-title h3 {
    margin-top: 60%;
  }

  /* line 84, ../sass/layout/_responsive.scss */
  footer .first-sec .right-align-tx h2, footer .first-sec .right-align-tx p {
    text-align: left;
  }
}
/* line 2, ../sass/layout/_contact.scss */
#contact .contact-form {
  width: calc(100% - 500px);
  float: left;
  height: 100vh;
  padding-left: 10%;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 10, ../sass/layout/_contact.scss */
#contact .contact-form h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
}
/* line 17, ../sass/layout/_contact.scss */
#contact .contact-form p {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #465871;
  opacity: 0.5;
}
/* line 24, ../sass/layout/_contact.scss */
#contact .contact-form .input-field label {
  color: #465871 !important;
}
/* line 27, ../sass/layout/_contact.scss */
#contact .contact-form .select-wrapper input.select-dropdown {
  color: #465871 !important;
}
/* line 30, ../sass/layout/_contact.scss */
#contact .contact-form .dropdown-content li > a, #contact .contact-form .dropdown-content li > span {
  color: #465871 !important;
}
/* line 33, ../sass/layout/_contact.scss */
#contact .contact-form button {
  display: inline-block;
  height: 45px;
  width: auto;
  padding: 0px 15px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(109, 129, 156, 0.19);
  line-height: 45px;
  margin-top: 20px;
  color: #465871;
  margin-right: 5px;
  width: 120px;
}
/* line 46, ../sass/layout/_contact.scss */
#contact .contact-form button i {
  display: inline-block;
  padding-left: 10px;
}
/* line 51, ../sass/layout/_contact.scss */
#contact .contact-form button:hover i {
  padding-left: 20px;
  color: #F9634C;
}
/* line 57, ../sass/layout/_contact.scss */
#contact .contact-form .red-outline {
  border: 1px solid #F9634C !important;
  color: #F9634C !important;
}
/* line 60, ../sass/layout/_contact.scss */
#contact .contact-form .red-outline i {
  color: #F9634C !important;
}
/* line 66, ../sass/layout/_contact.scss */
#contact .contact-banner {
  width: 500px;
  height: 768px;
  background: #e1e1e1;
  float: left;
  position: relative;
}
/* line 72, ../sass/layout/_contact.scss */
#contact .contact-banner img {
  width: 100%;
  height: 768px;
  object-fit: cover;
}
/* line 77, ../sass/layout/_contact.scss */
#contact .contact-banner .contact-detail {
  padding: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 83, ../sass/layout/_contact.scss */
#contact .contact-banner .contact-detail a {
  display: block;
  float: right;
  width: 100%;
}
/* line 87, ../sass/layout/_contact.scss */
#contact .contact-banner .contact-detail a img {
  width: 53.31px;
  height: 30.16px;
  float: right;
  display: block;
}
/* line 94, ../sass/layout/_contact.scss */
#contact .contact-banner .contact-detail h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #fff;
  display: block;
  padding-top: 150px;
}
/* line 103, ../sass/layout/_contact.scss */
#contact .contact-banner .contact-detail h4 {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: #fff;
  line-height: 25px;
}
/* line 110, ../sass/layout/_contact.scss */
#contact .contact-banner .contact-detail ul {
  display: block;
  padding-top: 40px;
}
/* line 113, ../sass/layout/_contact.scss */
#contact .contact-banner .contact-detail ul li {
  display: block;
  color: #fff;
  font-weight: 300;
}
/* line 117, ../sass/layout/_contact.scss */
#contact .contact-banner .contact-detail ul li i {
  display: inline-block;
  width: 20px;
}

@media only screen and (max-width: 992px) {
  /* line 136, ../sass/layout/_contact.scss */
  #contact .contact-form {
    width: 100%;
  }

  /* line 139, ../sass/layout/_contact.scss */
  #contact .contact-banner img {
    height: 500px;
  }

  /* line 142, ../sass/layout/_contact.scss */
  #contact .contact-banner {
    width: 100%;
    height: auto;
  }

  /* line 146, ../sass/layout/_contact.scss */
  #contact .contact-banner .contact-detail h2 {
    padding-top: 60px;
  }
}
/* line 2, ../sass/layout/_projects.scss */
#pro-banner {
  height: auto;
  background: #465871;
  padding: 50px 0px;
}
/* line 6, ../sass/layout/_projects.scss */
#pro-banner h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #fff;
  margin: 0;
}
/* line 14, ../sass/layout/_projects.scss */
#pro-banner p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  opacity: 0.76;
}
/* line 22, ../sass/layout/_projects.scss */
#pro-banner ul {
  margin-top: 50px;
}
/* line 24, ../sass/layout/_projects.scss */
#pro-banner ul li {
  display: inline-block;
  width: 23%;
  margin: 0px 5px;
}
/* line 28, ../sass/layout/_projects.scss */
#pro-banner ul li a {
  height: 45px;
  border-radius: 3px;
  font-weight: normal;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.12);
  line-height: 45px;
  color: rgba(255, 255, 255, 0.42);
  display: block;
  text-align: center;
}
/* line 38, ../sass/layout/_projects.scss */
#pro-banner ul li a:hover {
  background: #2D3B4E;
  color: #fff;
}

/* line 50, ../sass/layout/_projects.scss */
#pro-detail {
  background-color: #465871;
  padding: 50px 0px;
}
/* line 53, ../sass/layout/_projects.scss */
#pro-detail h2 {
  display: block;
  width: 50%;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #fff;
}
/* line 62, ../sass/layout/_projects.scss */
#pro-detail ul {
  margin-bottom: 20px;
}
/* line 64, ../sass/layout/_projects.scss */
#pro-detail ul li {
  display: inline-block;
  padding-right: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #fff;
}
/* line 72, ../sass/layout/_projects.scss */
#pro-detail ul li span {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  opacity: 0.5;
  padding-left: 30px;
}

@media only screen and (max-width: 600px) {
  /* line 88, ../sass/layout/_projects.scss */
  #pro-banner ul li {
    width: 100% !important;
    margin-top: 10px;
  }

  /* line 92, ../sass/layout/_projects.scss */
  #pro-detail h2 {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  /* line 98, ../sass/layout/_projects.scss */
  #pro-banner ul li {
    width: 47%;
    margin-top: 10px;
  }

  /* line 102, ../sass/layout/_projects.scss */
  #pro-detail h2 {
    width: 100%;
  }
}
/* line 1, ../sass/layout/_about.scss */
#about {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 50px 0px;
}
/* line 5, ../sass/layout/_about.scss */
#about .download-pr {
  width: 100%;
  height: 490px;
  border-radius: 6px;
  background: linear-gradient(#fa6849 0%, #f84656 100%);
  padding: 70px;
}
/* line 11, ../sass/layout/_about.scss */
#about .download-pr i {
  display: block;
  text-align: center;
}
/* line 15, ../sass/layout/_about.scss */
#about .download-pr a {
  text-align: center;
  color: #fff;
  display: block;
}
/* line 19, ../sass/layout/_about.scss */
#about .download-pr a span {
  font-size: 100px;
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 90px;
}
/* line 28, ../sass/layout/_about.scss */
#about h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
}
/* line 35, ../sass/layout/_about.scss */
#about h3 {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  color: #465871;
  line-height: 30px;
  opacity: 0.5;
  display: block;
  padding: 40px 0px;
}
/* line 45, ../sass/layout/_about.scss */
#about p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #6d819c;
}
/* line 53, ../sass/layout/_about.scss */
#about .top-sec-abt {
  margin-bottom: 50px;
}
/* line 56, ../sass/layout/_about.scss */
#about .img-abt-box {
  width: 100%;
  height: 480px;
  background: #f1f1f1;
  overflow: hidden;
}
/* line 61, ../sass/layout/_about.scss */
#about .img-abt-box img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}
/* line 68, ../sass/layout/_about.scss */
#about .sp-left-text h2, #about .sp-left-text h3, #about .sp-left-text p {
  display: block;
  padding-left: 30px;
}
/* line 73, ../sass/layout/_about.scss */
#about .team-box {
  width: 100%;
  height: 550px;
  background: #f1f1f1;
  position: relative;
}
/* line 79, ../sass/layout/_about.scss */
#about .team-box img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
/* line 84, ../sass/layout/_about.scss */
#about .team-box .title-desi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
}
/* line 89, ../sass/layout/_about.scss */
#about .team-box .title-desi h6 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #fff;
}
/* line 95, ../sass/layout/_about.scss */
#about .team-box .title-desi span {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color: #fff;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  /* line 109, ../sass/layout/_about.scss */
  #about .download-pr {
    margin-top: 50px;
  }

  /* line 113, ../sass/layout/_about.scss */
  .sp-left-text h2, .sp-left-text h3, .sp-left-text p {
    padding-left: 0px !important;
  }

  /* line 117, ../sass/layout/_about.scss */
  #about .img-abt-box {
    margin-top: 20px;
  }

  /* line 120, ../sass/layout/_about.scss */
  #about .team-box {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 126, ../sass/layout/_about.scss */
  #about .download-pr {
    margin-top: 50px;
  }

  /* line 130, ../sass/layout/_about.scss */
  .sp-left-text h2, .sp-left-text h3, .sp-left-text p {
    padding-left: 0px !important;
  }

  /* line 134, ../sass/layout/_about.scss */
  #about .img-abt-box {
    margin-top: 20px;
  }

  /* line 137, ../sass/layout/_about.scss */
  #about .team-box {
    margin-bottom: 20px;
  }
}
/* line 2, ../sass/layout/_product.scss */
#prod-banner {
  height: auto;
  padding: 50px 0px;
  width: 100%;
  height: auto;
  background-image: linear-gradient(-60deg, #fa6849 0%, #f84656 100%);
}
/* line 8, ../sass/layout/_product.scss */
#prod-banner h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #fff;
  margin: 0px;
}
/* line 16, ../sass/layout/_product.scss */
#prod-banner p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #fff;
}

/* line 25, ../sass/layout/_product.scss */
#product-section {
  width: 100%;
  height: 700px;
  background: #f1f1f1;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 34, ../sass/layout/_product.scss */
#product-section h2 {
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  color: #fff;
  padding-top: 100px;
}
/* line 43, ../sass/layout/_product.scss */
#product-section h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #fff;
  padding: 50px 0px;
  display: block;
}
/* line 51, ../sass/layout/_product.scss */
#product-section p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  padding-bottom: 50px;
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  /* line 67, ../sass/layout/_product.scss */
  #prod-banner p {
    padding-top: 30px;
  }

  /* line 70, ../sass/layout/_product.scss */
  #product-section {
    height: auto;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 77, ../sass/layout/_product.scss */
  #prod-banner p {
    padding-top: 30px;
  }

  /* line 80, ../sass/layout/_product.scss */
  #product-section {
    height: auto;
    padding-bottom: 50px;
  }
}
/* line 1, ../sass/layout/_service.scss */
.sv-box-tr {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.08);
  border: 0.2px solid #fff;
  padding: 30px;
}
/* line 8, ../sass/layout/_service.scss */
.sv-box-tr i {
  text-align: center;
  display: block;
  height: 150px;
}
/* line 12, ../sass/layout/_service.scss */
.sv-box-tr i img {
  width: 141.17px;
  background: transparent;
}
/* line 17, ../sass/layout/_service.scss */
.sv-box-tr h3 {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #fff;
  text-align: center;
}
/* line 24, ../sass/layout/_service.scss */
.sv-box-tr:hover {
  opacity: 0.6;
}

/* line 29, ../sass/layout/_service.scss */
#serv-cont {
  padding: 50px 0px;
}
/* line 31, ../sass/layout/_service.scss */
#serv-cont h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
}
/* line 38, ../sass/layout/_service.scss */
#serv-cont p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #465871;
  margin-bottom: 30px;
  opacity: 0.8;
}

/* line 50, ../sass/layout/_service.scss */
#sub-serv-det .l6 {
  padding: 0;
}
/* line 53, ../sass/layout/_service.scss */
#sub-serv-det .img-abt-box-s {
  width: 100%;
  height: 581px;
  background: #f1f1f1;
  position: relative;
  overflow: hidden;
}
/* line 59, ../sass/layout/_service.scss */
#sub-serv-det .img-abt-box-s i {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 30%;
}
/* line 66, ../sass/layout/_service.scss */
#sub-serv-det .img-abt-box-s i img {
  width: 120px;
  height: auto;
}
/* line 71, ../sass/layout/_service.scss */
#sub-serv-det .img-abt-box-s img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}
/* line 77, ../sass/layout/_service.scss */
#sub-serv-det h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
}
/* line 84, ../sass/layout/_service.scss */
#sub-serv-det h3 {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  color: #465871;
  line-height: 30px;
  opacity: 0.5;
  display: block;
  padding: 30px 0px;
}
/* line 94, ../sass/layout/_service.scss */
#sub-serv-det p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #6d819c;
}
/* line 102, ../sass/layout/_service.scss */
#sub-serv-det .s-cont-box {
  padding: 30px;
}
/* line 104, ../sass/layout/_service.scss */
#sub-serv-det .s-cont-box a {
  display: inline-block;
  height: 45px;
  width: auto;
  padding: 0px 15px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(109, 129, 156, 0.19);
  line-height: 45px;
  margin-top: 50px;
  color: #465871;
  margin-right: 5px;
}
/* line 116, ../sass/layout/_service.scss */
#sub-serv-det .s-cont-box a i {
  display: inline-block;
  padding-left: 10px;
}
/* line 121, ../sass/layout/_service.scss */
#sub-serv-det .s-cont-box a:hover i {
  padding-left: 20px;
  color: #F9634C;
}

/* line 131, ../sass/layout/_service.scss */
#second {
  height: 60px;
  background: linear-gradient(-60deg, #fa6849 0%, #f84656 100%);
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 9;
  display: none;
}
/* line 140, ../sass/layout/_service.scss */
#second ul {
  margin: 0;
}
/* line 142, ../sass/layout/_service.scss */
#second ul li {
  display: inline-block;
  width: 33.33%;
  float: left;
  border-right: 1px solid rgba(241, 241, 241, 0.25);
}
/* line 147, ../sass/layout/_service.scss */
#second ul li a {
  display: block;
  line-height: 60px;
  color: #fff;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 158, ../sass/layout/_service.scss */
#second ul li:hover {
  background: #465871;
}

/* line 167, ../sass/layout/_service.scss */
.service-sub img {
  height: 250px;
}
/* line 170, ../sass/layout/_service.scss */
.service-sub h2 {
  font-weight: 600;
  margin-top: 35px;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
  display: block;
}
/* line 179, ../sass/layout/_service.scss */
.service-sub p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #6d819c;
}

@media only screen and (max-width: 600px) {
  /* line 193, ../sass/layout/_service.scss */
  #second {
    bottom: 0px;
    top: inherit;
    height: auto;
  }
  /* line 199, ../sass/layout/_service.scss */
  #second ul li {
    width: 100%;
    border-bottom: 1px solid rgba(241, 241, 241, 0.25);
    border-right: none;
  }
  /* line 203, ../sass/layout/_service.scss */
  #second ul li a {
    line-height: 40px;
  }

  /* line 209, ../sass/layout/_service.scss */
  #sub-serv-det .img-abt-box-s {
    height: 280px;
  }
  /* line 211, ../sass/layout/_service.scss */
  #sub-serv-det .img-abt-box-s img {
    height: 280px;
  }

  /* line 215, ../sass/layout/_service.scss */
  .sv-box-tr {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 221, ../sass/layout/_service.scss */
  .sv-box-tr {
    margin-bottom: 20px;
  }
}
