/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/layout/_main.scss */
div, i, a, button, span, li {
  transition: all 0.2s ease;
}

/* line 5, ../sass/layout/_main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
}

/* line 8, ../sass/layout/_main.scss */
.input-field {
  margin-top: 5px !important;
}

/* line 13, ../sass/layout/_main.scss */
.banner-form input:not([type]).validate + label, .banner-form input[type=text]:not(.browser-default).validate + label, .banner-form input[type=password]:not(.browser-default).validate + label, .banner-form input[type=email]:not(.browser-default).validate + label, .banner-form input[type=url]:not(.browser-default).validate + label, .banner-form input[type=time]:not(.browser-default).validate + label, .banner-form input[type=date]:not(.browser-default).validate + label, .banner-form input[type=datetime]:not(.browser-default).validate + label, .banner-form input[type=datetime-local]:not(.browser-default).validate + label, .banner-form input[type=tel]:not(.browser-default).validate + label, .banner-form input[type=number]:not(.browser-default).validate + label, .banner-form input[type=search]:not(.browser-default).validate + label, .banner-form textarea.materialize-textarea.validate + label {
  font-size: 13px !important;
}

/* line 18, ../sass/layout/_main.scss */
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid rgba(112, 112, 112, 0.2) !important;
  margin: 0 0 10px 0 !important;
}

/* line 22, ../sass/layout/_main.scss */
.padding15 {
  padding: 15px;
}

/* line 1, ../sass/layout/_banners.scss */
#banner {
  width: 100%;
  height: 100vh;
  background: #e1e1e1;
  background-image: url(../img/home/banner.jpg);
  background-attachment: fixed;
  text-decoration: none;
  padding-top: 150px;
  background-size: cover;
}
/* line 11, ../sass/layout/_banners.scss */
#banner h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #fff;
}
/* line 19, ../sass/layout/_banners.scss */
#banner span {
  width: 50px;
  height: 5px;
  background: #fff;
  opacity: 0.5;
  display: block;
  margin-top: 40px;
}
/* line 27, ../sass/layout/_banners.scss */
#banner p {
  font-family: Poppins;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}
/* line 37, ../sass/layout/_banners.scss */
#banner .bt-transparat {
  width: 160px;
  height: 45px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  margin-top: 60px;
}
/* line 45, ../sass/layout/_banners.scss */
#banner .bt-transparat i {
  color: #fff;
  display: inline-block;
  padding-left: 10px;
}
/* line 50, ../sass/layout/_banners.scss */
#banner .bt-transparat:hover {
  cursor: pointer;
}
/* line 52, ../sass/layout/_banners.scss */
#banner .bt-transparat:hover i {
  padding-left: 20px;
}
/* line 58, ../sass/layout/_banners.scss */
#banner .banner-form {
  max-width: 459px;
  min-height: 500px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 25px;
  float: right;
}
/* line 66, ../sass/layout/_banners.scss */
#banner .banner-form .f-left {
  float: left;
  width: calc(100% - 44px);
}
/* line 69, ../sass/layout/_banners.scss */
#banner .banner-form .f-left h2 {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #465871;
  margin: 0;
}
/* line 76, ../sass/layout/_banners.scss */
#banner .banner-form .f-left p {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: #6d819c;
  line-height: 20px;
  margin-top: 10px;
}
/* line 85, ../sass/layout/_banners.scss */
#banner .banner-form .f-icon {
  width: 43.35px;
  height: 54.22px;
  background: transparent;
}
/* line 89, ../sass/layout/_banners.scss */
#banner .banner-form .f-icon img {
  height: 54px;
}
/* line 94, ../sass/layout/_banners.scss */
#banner .banner-form .f-row {
  margin-top: 20px;
  float: left;
  width: 100%;
}
/* line 99, ../sass/layout/_banners.scss */
#banner .banner-form button {
  margin-top: 10px;
}

/* line 2, ../sass/layout/_buttons.scss */
.normal_bt {
  width: 128px;
  height: 45px;
  border-radius: 3px;
  background: linear-gradient(#fa6849 0%, #f84656 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border: none;
  line-height: 45px;
}
/* line 14, ../sass/layout/_buttons.scss */
.normal_bt:hover {
  cursor: pointer;
}

/* line 20, ../sass/layout/_buttons.scss */
.mobile-menu {
  display: none;
  color: #fff;
  font-size: 30px;
  float: right;
}
/* line 25, ../sass/layout/_buttons.scss */
.mobile-menu i {
  float: right;
}

/* line 1, ../sass/layout/_header.scss */
header {
  position: absolute;
  z-index: 8;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  padding-top: 55px;
}
/* line 9, ../sass/layout/_header.scss */
header .logo {
  display: block;
}
/* line 11, ../sass/layout/_header.scss */
header .logo img {
  width: 180px;
  height: auto;
}
/* line 16, ../sass/layout/_header.scss */
header .bt {
  display: inline-block;
  float: right;
}
/* line 20, ../sass/layout/_header.scss */
header .navigation_main {
  float: left;
  width: calc(100% - 128px);
  text-align: right;
}
/* line 24, ../sass/layout/_header.scss */
header .navigation_main li {
  display: inline-block;
  padding-right: 15px;
}
/* line 27, ../sass/layout/_header.scss */
header .navigation_main li a {
  font-family: Poppins;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
  padding: 0px 8px;
  line-height: 45px;
}
/* line 34, ../sass/layout/_header.scss */
header .navigation_main li a:hover {
  color: #fff;
  opacity: 1;
}

/* line 1, ../sass/layout/_blocks.scss */
.padd-each {
  padding: 100px 0px;
}

/* line 5, ../sass/layout/_blocks.scss */
#abt-home {
  background: #fff;
}
/* line 7, ../sass/layout/_blocks.scss */
#abt-home p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #6d819c;
}
/* line 15, ../sass/layout/_blocks.scss */
#abt-home .bx-abt {
  background-position: top left;
  background-image: url(../img/home/logo-transp.svg);
  background-repeat: no-repeat;
}
/* line 19, ../sass/layout/_blocks.scss */
#abt-home .bx-abt h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  color: #465871;
  padding-left: 70px;
}
/* line 29, ../sass/layout/_blocks.scss */
#abt-home a {
  display: inline-block;
  height: 45px;
  width: auto;
  padding: 0px 15px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(109, 129, 156, 0.19);
  line-height: 45px;
  margin-top: 20px;
  color: #465871;
  margin-right: 5px;
}
/* line 41, ../sass/layout/_blocks.scss */
#abt-home a i {
  display: inline-block;
  padding-left: 10px;
}
/* line 46, ../sass/layout/_blocks.scss */
#abt-home a:hover i {
  padding-left: 20px;
}
/* line 51, ../sass/layout/_blocks.scss */
#abt-home .red-outline {
  border: 1px solid #F9634C !important;
  color: #F9634C !important;
}
/* line 54, ../sass/layout/_blocks.scss */
#abt-home .red-outline i {
  color: #F9634C !important;
}

@media only screen and (max-width: 600px) {
  /* line 2, ../sass/layout/_responsive.scss */
  #abt-home a {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  /* line 12, ../sass/layout/_responsive.scss */
  .mobile-menu {
    display: block;
    color: #fff;
  }

  /* line 16, ../sass/layout/_responsive.scss */
  .navigation_main {
    display: none;
  }

  /* line 19, ../sass/layout/_responsive.scss */
  header {
    margin-top: 0px;
    padding-top: 20px;
    height: auto;
    background: rgba(26, 60, 80, 0.57);
  }

  /* line 25, ../sass/layout/_responsive.scss */
  #banner {
    height: auto;
    padding-bottom: 30px;
    padding-top: 80px;
  }
  /* line 29, ../sass/layout/_responsive.scss */
  #banner .banner-form {
    margin-top: 20px;
  }

  /* line 33, ../sass/layout/_responsive.scss */
  .padd-each {
    padding: 20px 0px !important;
  }
}
